body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Garante que a altura da página ocupe a tela toda */
    margin: 0;
    padding: 0;
  }
  
#root {
    display: flex;
    flex-direction: column;
    min-height:  100vh; /* Faz com que o conteúdo principal se ajuste à altura da tela */
  }

  main {
    padding: 20px;
    background-color: #f4f4f4;
    min-height: calc(100vh - 120px); /* Ajusta o layout */
    flex: 1; /* Garante que o conteúdo principal ocupe o espaço entre o header e o footer */
  }

  video {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #003f7f;
  }
  
  /* Estilo para as caixas de letras */
  .alphabet-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 caixas por linha */
    gap: 30px; /* Espaçamento entre caixas */
    justify-items: center;
  }

  .alphabet-box {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
  }

  /* Estilo para os botões de navegação */
  nav button {
    padding: 10px 20px;
    margin: 0 15px; /* Espaçamento entre botões */
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }

  nav button.active {
    background-color: #007bff;
  }
