.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #004C92;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer-logo {
  height: 50px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer-logo {
    margin-bottom: 10px;
  }
}
